body {
    background-color: #1e2d3b;
}

header {
    background-color: #2e3a46;
}

span {
    color: white;
}

.img-top {
    width: 50px;
}

section {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}

.card {
    background-color: #2e3a46;
}

.card-img-top {
    height: 150px;
}